/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-image: url(../img/patterns/pw_maze_black.png);
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.actionBar {
    background-color: #5c1153;  
/*    background-image: url(../img/patterns/dark_pattern.png);*/ /*Dark purple: #24122D, light purple: #3D254B; */
    background-image: url(../img/patterns/light_pattern.png);    
    border-bottom: 1px solid #3D254B;
    height: 4em;
    width: 100%;
    position: fixed;
    top: 0px;
}

.actionBarBuffer {
    width: 100%;
    height: 4.5em;      /* Should be the same as action bar height */
}

.logoButton {
    float: left;
    margin-top: 5px;
    margin-left: 2%;
}

.logoButtonImage {
    max-width: 3.5em;
    max-height: 3.5em;
}

.mainLogo img {
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin: 10px auto;
}

img {
    max-width: 400px;
    max-height: 400px;
}

@media screen and (max-height:400px) {
    .mainLogo img {
            height: 200px;
            width: 235px;
        }
}

@media screen  and (max-width:400px) {
    .mainLogo img {
            height: 200px;
            width: 235px;
        }
}

.screenTitle {
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    padding-top: 0.45em;
    padding-left: 0.5em;
    float: left;
}

.btnContainer {
    text-align: center;
    margin: 20px auto
}

.btn {
    border: none;
    font-family: inherit;
    font-size: 1em;
    color: #fff;
    background: none;
    margin: 2px auto;
/*    margin: 1em 4em;*/
    margin: auto auto;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
/*  letter-spacing: 1px;*/
/*  font-weight: 20;*/
    outline: none;
    position: relative;
    border-radius: 3px;
    background-color: #7a2470;
    box-shadow: 0 5px #5c1153;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    max-width: 400px;
}

.btn:hover {
/*    box-shadow: 0px 0px 0px 0px #852f2f inset;*/
    outline: 0 6px #852f2f;
    background-color: #5c1153;
}

.btn:active {
    box-shadow: 0 0 #852f2f;
    background-color: #852f2f;
    top: 0px;
}


.btn2 {
    border: none;
    font-family: inherit;
    font-size: 1em;
    color: #fff;
    background: none;
    padding: 1em 2em;
/*    margin: 1em 4em;*/
    margin: 2px auto;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
/*  letter-spacing: 1px;*/
    font-weight: 70;
    outline: none;
    position: relative;
    border-radius: 3px;
    background-color: #cb4e4e;
    box-shadow: 0 0 #852f2f;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    max-width: 400px;
}

a .btn2 p {
    font-family: sans-serif;
    color: #fff;
}

.btn2:hover {
/*  box-shadow: 0 3px #852f2f;*/
/*  -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;*/
    box-shadow: 0px -3px 0px 0px #852f2f inset;
    outline: 0 6px #852f2f;
    background-color: #d16262;
/*  border-bottom: solid 3px #852f2f;*/
    top: 0px;
}

.btn2:active {
    box-shadow: 0 0 #852f2f;
    background-color: #d16262;
    top: 0px;
}

.btn3 {
    border: none;
    font-family: inherit;
    font-size: 1em;
    color: #fff;
    background: none;
    padding: 0.75em 1em;
    margin: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 70;
    border-radius: 3px;
    box-shadow: 0px -3px 0px 0px #852f2f inset;
    outline: 0 6px #852f2f;
    background-color: #e74c3c;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
/*    max-width: 400px; */
/*    float: right; */
}

.btn3:hover {
    box-shadow: 0px -3px 0px 0px #c0392b inset;
    outline: 0 6px #c0392b;
    background-color: #ea6153;
    top: 0px;
}

.btn3:active {
    box-shadow: 0 0 #c0392b;
    background-color: #c0392b;
    top: 0px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
